<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="CONSOLE_PATTERN"
    value="[%d{HH:mm:ss.SSS}][%-5level][%logger{36}.%method] - %msg%n"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_PATTERN}</pattern>
    </encoder>
  </appender>

  <logger name="org.hibernate.SQL" level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="com.delivery_service" level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
